#setting,
#warning {
    display: flex;
    justify-content: center;
}

#setting_board {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.setting_item {
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

#container {
    margin: 80px auto;
    margin-right: 40px;
    display: flex;
    justify-content: center;
}

#board {
    position: relative;
    width: 500px;
    height: 500px;
}

.hintboard {
    position: relative;
    font-size: 20px;
}

#rowHintboard {
    left: 30px;
}

#colHintboard {
    left: 60px;
}

.hiddenBtn,
.pressBtn,
.hintBtn {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-width: 1px;
    margin: 0px;
}

.hintBtn {
    background-color: gray;
    text-align: left;
}

.hiddenBtn {
    background-color: white;
    border-width: 0px;
    margin: 0px;
}